
<ul class="nav nav-tabs" style="padding-left: 15px;">
  <li class="active"><a data-toggle="tab" href="#menu1" style="color: blueviolet;">Фото</a></li>
  <li><a data-toggle="tab" href="#menu2" style="color: blueviolet;">Видео</a></li>
</ul>

<div class="tab-content" >
  <div id="menu1" class="tab-pane fade in active">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/one.jpg" alt="Los Angeles">
        </div>

        <div class="item">
          <img src="img/two.jpg" alt="Chicago">
        </div>

        <div class="item">
          <img src="img/three.jpg" alt="New York">
        </div>
        <div class="item">
          <img src="img/four.jpg" alt="New York">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
   
  </div>
  <div id="menu2" class="tab-pane fade">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XGSy3_Czz8k" style="height: 400px;"></iframe>
    </div>
  </div>
</div>


<p class = "pull-right margin-top-30"><a href="file:///C:/Users/tim_kodirov/mvd/resources/views/mvd/news.html">Все новости</a></p>
<h2>Новости</h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>
</div>

<p class = "pull-right margin-top-30"><a href="file:///C:/Users/tim_kodirov/mvd/resources/views/mvd/news.html">Все новости</a></p>
<h2>Новости департамента</h2>
<hr>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p>
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
          <strong><a class="post-title" href="#">В центре Барселоны произошел теракт, 12 человек погибли</a></strong>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
                <a href="#" class="thumbnail"><img src="img/new1.jpg" alt=""></a>
          </div>     
          <p >
            МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали. 
          </p>
        </div>                  
        <div class="panel-footer">
        | <i class="icon-calendar"></i> Sept 16th, 2012
        | <i class="icon-comment"></i> <a href="#">3 Comments</a>
        | <i class="icon-share"></i> <a href="#">39 Shares</a>
        </div>
    </div>
  </div>
</div>

<div id="vmap" style="width: 100%; height: 400px;"></div>





