<!DOCTYPE html>
<html lang="en">
<head>
  <title>MVD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  


</head>
<body>
<header id = "my-header">
  <div class="container-fluid">
    <div class="btn-group-sm" style="padding: 20px;">
      <button type="button" class="btn btn-default" style="color: blueviolet; ">RUS</button>
      <button type="button" class="btn btn-default" style="color: blueviolet; ">UZ</button>

    </div><!-- end of ru/uz -->
    <br>
    <div class="row">
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-4">
            <img src="img/gerb1.png" style="height: 150px; padding-left: 20px;">
          </div>
          <div class="col-sm-8">
            <h3><span class="glyphicon glyphicon-earphone"></span> Телефон доверия: <br>(+99871) 143 07 70</h3>
            <h3><span class="glyphicon glyphicon-phone-alt"></span> Служба спасение: 102</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-2 text-center"><img src="img/logo.png" width = "150px"></div>
      <div class="col-sm-5"><h1 id="text">МИНИСТЕРСТВО ВНУТРЕННИХ ДЕЛ РЕСПУБЛИКИ УЗБЕКИСТАН</h1></div>

    </div><!-- end of header row-->
    <br>
    <div class="container my-container">
      <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Главная</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" >
              <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Департамент хақида <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Департамент тарихи</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Департамент рахбарияти</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Департамент тизими</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Эксперт-криминалистика бош<br>бошкармаси</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Ахбарот маркази</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Фаолият <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Департамент асосий вазифа<br> ва функциялари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Фаолиятнинг хуқуқий<br> асослари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Илмий-амалий мақолалар</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Электрон кутубхона</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Бўш иш ўринлари</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Хужжатлар<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Давлат дастурлари, Олий Мажлис <br>қарорлари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Ўзбекистон Республикаси<br> Президентининг Фармонлари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Ўзбекистон Республикачи<br> Президентининг Қарорлари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Ўзбекистон Республикаси<br> Вазирлар Махкамаси қарорлари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Халқаро хужжатлар</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Ички ишлар вазирлиги меъёрий <br>хуқуқ хужжатлари</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Олий суд Пленуми қарорлари</a></li>
                  <li role="separator" class="divider"></li>  
                  <li><a href="#">Меъёрий хужжатлар лойихалари</a></li>
                </ul>
              </li>
              
            </ul>
            <form class="navbar-form navbar-right">
            <div class="form-group" >
              <input type="text" class="form-control" placeholder="Поиск">
            </div>
            <button type="submit" class="btn btn-default">Искать</button>
          </form>
          </div><!-- /.navbar-collapse -->

      </nav><!-- end of navbar -->
    </div>
  </div>
</header><!-- end of header-->

<div class="container my-container">
  <div class="row">

    <div class="col-sm-8">
      <select name = "isDepartment" class = "pull-right margin-top-20 news-type-select">
        <option value = "0">Новости</option>
        <option value = "1">Про депортамент</option>
      </select>

      <h1>Новости</h1>
      <hr>
      <div class="panel panel-default">
        <div class="panel-heading">
          В центре Барселоны произошел теракт, 12 человек погибли
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 text-center overflow-hidden">
              <img src="img/new1.jpg" height="100px">
            </div>

            <div class="col-sm-9">
              МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали...
              <a href="#">Читать дальше</a>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          12 Sen, 2017 -- 18:93
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          В центре Барселоны произошел теракт, 12 человек погибли
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 text-center overflow-hidden">
              <img src="img/new1.jpg" height="100px">
            </div>

            <div class="col-sm-9">
              МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали...
              <a href="#">Читать дальше</a>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          12 Sen, 2017 -- 18:93
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          В центре Барселоны произошел теракт, 12 человек погибли
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 text-center overflow-hidden">
              <img src="img/new1.jpg" height="100px">
            </div>

            <div class="col-sm-9">
              МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали...
              <a href="#">Читать дальше</a>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          12 Sen, 2017 -- 18:93
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          В центре Барселоны произошел теракт, 12 человек погибли
        </div>

        <div class="panel-body">
          <div class="row">
            <div class="col-sm-3 text-center overflow-hidden">
              <img src="img/new1.jpg" height="100px">
            </div>

            <div class="col-sm-9">
              МАДРИД, 17 авг — РИА Новости. Минивэн въехал в толпу в туристическом сердце Барселоны — в районе пешеходной улицы Рамбла, есть погибшие, десятки человек пострадали...
              <a href="#">Читать дальше</a>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          12 Sen, 2017 -- 18:93
        </div>
      </div>
    </div><!-- end of content -->

    <div class="col-sm-4" >
      <div class="row">
      	<h3 class = "text-center">Диққат қидирув!</h3>
        <div class="row">
      	<div class="col-sm-6">
      		<p class = "text-center">Қидирувдаги жиноятчилар</p>
      		
      	</div>
      	<div class="col-sm-6">
      		<p class = "text-center">Бедарак йўқолганлар</p>
      		
      	</div>
        </div>
        <div class="col-sm-6 text-center">
          <a href=""><img src="img/6.jpg" height = "200px"></a>
        </div>
        <div class="col-sm-6 text-center">
          <a href=""><img src="img/7.jpg" height = "200px"></a>
        </div>
      </div>
    	<hr>
    	
      <!-- <h3 class = "text-center">Интерактив хизматлар</h3>
      <br>
      <button type="button" class="btn btn-info btn-lg" id="myBtn" data-toggle= "modal" data-target = "#myModal">Онлайн мурожаат</button>
      
      Modal
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          Modal content
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Онлайн мурожат</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="usr">Имя:</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="usr">Телефон(с кодом):</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group">
                <label for="comment">Вопрос:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Оптравить</button>
            </div>
          </div>end of Modal content
          
        </div>
      </div>end of modal -->
      
      <h3 class = "text-center">Фойдали Лавхалар</h3>
      <div class = "well">
      <div class = "row">
        <div class = "col-sm-3">
          <div class = "image-place text-center">
            <img src="img/gerb.png" width = "80%" height="80%">
          </div>
        </div>

        <div class = "col-sm-9">
          <h4>
            <a href="#">Ўзбекистон Республикаси Президентининг расмий веб-сайти</a>
          </h4>
        </div>
      </div>
      </div>
      <div class = "well">
      <div class = "row">
        <div class = "col-sm-3">
          <div class = "image-place text-center">
            <img src="img/lex.png" width = "80%" height="80%">
          </div>
        </div>

        <div class = "col-sm-9">
          <h4>
            <a href="#">Ўзбекистон Республикаси Қонун ҳужжатлари маълумотлари миллий базаси</a>
          </h4>
        </div>
      </div>
      </div>
      <div class = "well">
      <div class = "row">
        <div class = "col-sm-3">
          <div class = "image-place text-center">
            <img src="img/strategy.png">
          </div>
        </div>

        <div class = "col-sm-9">
          <h4>
            <a href="#">Ривожлантиришнинг бешта устувор йўналиши бўйича Ҳаракатлар стратегияси</a>
          </h4>
        </div>
      </div>
      </div>
      <div class = "well">
      <div class = "row">
        <div class = "col-sm-3">
          <div class = "image-place text-center">
            <img src="img/portal.png">
          </div>
        </div>

        <div class = "col-sm-9">
          <h4>
            <a href="#">Ягона интерактив давлат хизматлари портали</a>
          </h4>
        </div>
      </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-12 text-center">
        <a href="#">
          <h4 class = "margin-0">
            <img src="img/gerb.jpg" width = "50px" height = "50px"> 
            Давлат рамзлари
          </h4>
        </a>
        </div>
      </div>

      <hr>
    </div><!-- end of sidebar-->

  </div><!-- end of main row -->
</div>

<footer id = "my-footer">
  <div class = "container-fluid">
    <br>
    <div class = "container">
      <div class="row">
        <div class="col-sm-4">
          <h3>ЎЗБЕКИСТОН РЕСПУБЛИКАСИ ИЧКИ ИШЛАР ВАЗИРЛИГИ</h3>
          <p>Индекс 000001</p>
          <p>г. Ташкент, р. Мирзо Улугбек, ул. Зиелилар, 9</p>
          <p>Тел: +998 71 289-99-99</p>
          <p>Почта: info@inha.uz</p>
          <p>© Барча ҳуқуқлар ҳимояланган 2017</p>
        </div>
        <div class="col-sm-4 text-center">
          <img src="img/logo.png" width = "150px" height="200px">
          <hr>
          <img src="http://cnt0.www.uz/counter/collect?id=1066&r=&pg=http%3A//mvd.uz/uz&c=Y&j=N&wh=1366x768&px=24&js=1.3&col=133E43&t=ffffff&p=E6850F" width = "30%">
          <img src="http://bank.uz/scripts/informercb?small=1" width = "30%">
          <img src="https://my.gov.uz/img/gis-ru.png" width = "30%">
        </div>
        <div class="col-sm-4">

          <ul>
          <h4>Веб сайт</h4>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Новости департамента</a></li>
            <li><a href="#">Разыскиваются</a></li>
            <li><a href="#">Про департамент</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Фото и Видео галарея</a></li>
            <li><a href="#">Наша деятельность</a></li>
          </ul>
          <hr>
          <div class = "text-right">
            <a href="#"><img src="http://mvd.uz/img/social_icon.png" width = "30px" height="30px"></a>
            <a href="#"><img src="http://mvd.uz/img/social_icon2.png" width = "30px" height="30px"></a>
            <a href="#"><img src="http://mvd.uz/img/social_icon3.png" width = "30px" height="30px"></a>
          </div>
          
        </div>
      </div>
      <br>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $('.news-type-select').change(function()
      { 
        var val = $(this).val();
        window.location.replace('file:///C:/Users/tim_kodirov/mvd/resources/views/mvd/news.html?isDepartment='+val);
      });
  </script>

</body>
</html>



