body
{
	
}

.admin-page
{
	margin-top: 100px;
}

.admin-content
{
	padding: 20px;
}

.photo-card
{
	border: 1px solid gray;
	box-shadow: 2px 2px 5px gray;
	background: white;
	padding: 20px;
	border-radius: 5px; 
}
.photo-index-list
{
	margin-bottom: 20px;
}
.photo-index-list:nth-child(3n+4)
{
	clear: both;
}

.info
{
	color: #aaa;
}
.margin-top
{
	margin-top: 10px;
}


.margin-top-20
{
	margin-top: 20px;
}
.margin-top-30
{
	margin-top: 30px; 
}
.margin
{
	margin: 10px;
}
.margin-0
{
	margin: 0px;
}
.color-title
{
	color: #475681;
}
.overflow-hidden
{
	overflow: hidden;
}
.document-list-item:before
{
	content: '\2022';
}
.news-type-select
{
	padding: 10px;
	border-radius: 2px;
	margin-right: 5px;
}

.question-not-seen
{
	border: 1px solid black;
}

.login-panel
{
	margin-top: 100px;
}