body
{
	
}

.admin-page
{
	margin-top: 100px;
}

.admin-content
{
	padding: 20px;
}

.photo-card
{
	border: 1px solid gray;
	box-shadow: 2px 2px 5px gray;
	background: white;
	padding: 20px;
	border-radius: 5px; 
}
.photo-index-list
{
	margin-bottom: 20px;
}
.photo-index-list:nth-child(3n+4)
{
	clear: both;
}

.info
{
	color: #aaa;
}
.margin-top
{
	margin-top: 10px;
}
.margin
{
	margin: 10px;
}
.margin-0
{
	margin: 0px;
}
.color-title
{
	color: #475681;
}