body{
	background-color: white;
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.container{
	background-image: url("/images/bg.png");
}
a
{
	color: black;
}
#logogo{
	height: 150px;
	width: 150px;
}
a:hover
{
	color: black;
}
.my-container{
	background-color: lightgrey;

	padding-bottom: 10px;
}
.navbar-default
{
	background-color: #0061ac;
	color: white;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand
{
	color: white;
}
#my-header{


}

img{

	position: static;
}
#text{
	font-family: "Open Sans";
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 50px;
	color: blueviolet;
	text-align: center;
	margin-top: -10px;
}

.margin-0
{
	margin: 0px;
}
.margin
{
	margin: 10px;
}
.margin-top-30
{
	margin-top: 30px;
}
.margin-top-20
{
	margin-top: 20px;
}
.margin-top
{
	margin-top: 10px;
}

.margin-top-0
{
	margin-top: 0;
}
.margin-left
{
	margin-left: 10px;
}
.margin-right
{
	margin-right: 10px;
}
.padding
{
	padding: 0px 30px;
}
.no-padding
{
	padding: 0px;
}

#my-footer
{
	background-color: #0061ac;
	color: black;
}

#my-footer ul li a
{
	color: white;
}

.image-place
{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	box-shadow: 1px 1px 5px gray;
	position: relative;
	vertical-align: middle;
}
.image-place .helper
{
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}
.image-place img
{
	max-width: 90%;
	max-height: 100%;
}

.news-type-select
{
	padding: 10px;
}
.wanted-carousel>.item>a>img, .wanted-carousel>.item>img
{
	height: 200px;
	width: auto;
}
.color-title
{
	color: #475681;
}

.characters {
  border-bottom: 7px solid #0061ac;
  position: relative;
}

.characters::after {
  border: medium solid transparent;
  content: "";
  top: 100%;
  left: 50%;
  position: absolute;
  height: 0;
  width: 0;
  border-color: #0061ac rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
  border-width: 25px;
  margin-left: -25px;
}

.news-list-item:nth-child(2n+3)
{
	clear: both;
}
.news-list-item .panel-heading
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background-color: #0061ac;
}
.news-list-item .panel-heading a
{
	color: white;
}
.news-list-item .panel-footer
{
	background-color: #0061ac;
	color: white;
}
.news-list-item-body
{

}

.pulse-button {
  position: relative;
  border: none;
  border-radius: 10px;
  text-shadow: 0 0 0 rgba(0, 0, 255, 0.7), 0 0 0 rgba(0, 0, 255, 0.7);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {text-shadow: 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {text-shadow: 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {text-shadow: 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {text-shadow: 0px 50px 150px rgba(232, 76, 61, 0), 0px -50px 150px rgba(232, 76, 61, 0);}}

.photo-list:nth-child(3n+4)
{
	clear: both;
}

.video-list:nth-child(2n+3)
{
	clear: both;
}
.glyphicon-home
{
	font-size: 30px;
	vertical-align: middle;
	bottom: 0px;
}

.btn-darkblue
{
	background-color: #0061ac;
	color: white;
}
.btn-darkblue:hover
{
	color: rgb(200,200,200);
}


.test-button
{
	background-image: url('/images/rus.gif');
	width: 40px;
	height: 40px;
}

.btn-darkblue
{
	background-color: #0061ac;
	color: white;
}
.all-news-link
{
	font-size: 14px;
}
#vmap
{
	background-image: url('/images/globus.png');
	background-size: 100%;
	height: 100%;
	background-repeat: no-repeat;

}
li{
	margin-left: -11px;
}

@media(min-width: 992px)
{
	#vmap
	{
		height: 700px;
		padding-top: 150px;
	}
}

@media(min-width: 768px)
{
	#vmap
	{
		height: 500px;
		padding-top: 100px;
	}

	.search-group
	{
		width: 240px;
	}


}

@media(max-width: 767px)
{
	.btn-grp{
		margin-bottom: 10px;
	}

	#vmap
	{
		height: 150px;
		padding-top: 30px;
	}
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
	color: white;
	background-color: #0061ac;
}

.thumbnail
{
	margin-bottom: 10px;
}

.my-preserve-data
{
	white-space: pre-wrap;
}

.my-preserve-data p
{
	margin: 0px;
}

.bordered-padding
{
	border: 1px solid black;
	padding: 10px;
}

.my-btn
{
	border-radius: 50%;
	padding: 10px;
}
.links-header
{
	background-color: #0061ac;
	border: 1px solid white;
	border-radius: 5px;
	color: white;
	padding: 10px;
	position: relative;
}
.links-header:after
{
	border: medium solid transparent;
	content: "";
	top: 100%;
	left: 50%;
	position: absolute;
	height: 0;
	width: 0;
	border-color: #0061ac rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
	border-width: 15px;
	margin-left: -15px;
}

.pignose-calendar .pignose-calendar-top
{
	background-color: bisque;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
	padding: 30px;
	max-width: 350px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	font-family: roboto;
}

.loginmodal-container h1 {
	text-align: center;
	font-size: 1.8em;
	font-family: roboto;
}

.loginmodal-container input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	background-color: #4d90fe;
	padding: 17px 0px;
	font-family: roboto;
	font-size: 14px;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
	text-decoration: none;
	color: #666;
	font-weight: 400;
	text-align: center;
	display: inline-block;
	opacity: 0.6;
	transition: opacity ease 0.5s;
}

.login-help{
	font-size: 12px;
}